################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Webgentle.BookStores/Webgentle.BookStores/obj/project.assets.json
/Webgentle.BookStores/Webgentle.BookStores/obj/project.nuget.cache
/Webgentle.BookStores/Webgentle.BookStores/obj/Webgentle.BookStores.csproj.nuget.dgspec.json
/Webgentle.BookStores/Webgentle.BookStores/obj/Webgentle.BookStores.csproj.nuget.g.props
/Webgentle.BookStores/Webgentle.BookStores/obj/Webgentle.BookStores.csproj.nuget.g.targets
/Webgentle.BookStores/Webgentle.BookStores/obj/Debug/netcoreapp3.1/Webgentle.BookStores.csprojAssemblyReference.cache
/Webgentle.BookStores/Webgentle.BookStores/obj/Debug/netcoreapp3.1/Webgentle.BookStores.assets.cache
/Webgentle.BookStores/Webgentle.BookStores/obj/Debug/netcoreapp3.1/Webgentle.BookStores.AssemblyInfoInputs.cache
/Webgentle.BookStores/Webgentle.BookStores/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Webgentle.BookStores/Webgentle.BookStores/obj/Debug/netcoreapp3.1/Webgentle.BookStores.AssemblyInfo.cs
